.sidebar1{
  float:  right;
  border-color: green;
  border-style: double;
  border-width: thick;
  margin: 10px;
}

.sidebar2{
  width: 300px;
  border-color:brown;
  float:left;
  margin: 10px;
}

.shows{
  float: right;
  background-color: #e2b279;
  padding: 100px 20px 700px 25px;
}
